.colors {
    color: #0477BF;
    color: #F20544;
    color: #A6032F;
    color: #B6DBF2;
    color: #049DD9;
}


body {
    text-align: center;
}

h1 {
    font-size: 6em;
    font-family: "Garamond", serif; 
    letter-spacing: 3px;
    margin-top: 1.5em;
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    letter-spacing: 1px;
}

h3 {
    color: #11999E;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

a {
    color: #11999E;
}

.profession {
    margin-top: 1em;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    line-height: 2;
}

p {
    font-size: 1.2em;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    color: #40514E;
}

hr {
    border-width: 5px;
    color: grey;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    margin: 3em auto;
}

.ux-description {
    padding: 1em 15em;
}

.top-container {
    background-color: #EAF6F6;
    text-align: center;
    height: 51.60em;
}

.topCloud {
    position: relative;
    left: 15%;
    top: 10%;
}

.botCloud {
    position: relative;
    display: block;
    left: 30%;
    top: 7%;
}

.mountain {
    position: relative;
    top: 0.8em;
}

.middle-container {
    margin: 1em auto 0;
}

.mySkills {
    margin-bottom: -1em;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.my-photo {
    width: 20%;
    height: auto;
}

.dev-icon {
    clear: right;
}

.ux-icon{
    width: 25%;
    height: auto;
    float: left;
    margin-right: 30px;
}

.dev-icon{
    width: 25%;
    height: auto;
    float: right;
    margin-right: 30px;
}

.bottom-container {
    background-color: #66BFBF;
    margin-top: 3.5em;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 2.7em 0.5em;
}

.UX {
    text-decoration: underline;
}

.copyright {
    color: #EAF6F6;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    margin: 2em auto 1em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: Helvetica;
    width: 211px;
    font-size: 30px;
    font-weight: 100;
    padding: 35px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #1DC1C1;
    border: solid #FFFFFF 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }